* {
    box-sizing: border-box;
}

body {
    line-height: normal;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

a:active,
a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    /* for chrome */
    -moz-appearance: none;
    /*for firefox*/
    appearance: none;
}

select::-ms-expand {
    display: none;
    /*for IE10,11*/
}

select:focus {
    outline: none;
}

.selectBox {
    position: relative;
    height: 45px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    background: #FFFFFF;
}

.selectBox::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f0d7";
    font-size: 10px;
    color: #333333;
}

.selectBox select {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 15px;
    border: none;
}

select a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font-family: 'NanumSquare', sans-serif;
}