/* Naming Convention: Kebab-case */

// 1. 초기화
@import "reset";

// 2. 도구함 가져오기
// @import "variable";
@import "mixin";

.header-util {
    display: none;

    // 1. 기본값 (모바일 우선)
    .m-only {
        display: block;

        @include desktop {
            display: none;
        }
    }

    .pc-only {
        display: none;

        @include desktop {
            display: flex;
        }
    }
}

main {
    width: 100vw;
    height: 100vh;
    background: url(../image/main_img/main_bg.png) 37%/cover no-repeat;
}

section {
    display: none;
}